In [ ]:
import pandas as pd

In [45]:
df=pd.read_csv("/kaggle/input/california-housing-prices/housing.csv")

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
df=df[['latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value',
'ocean_proximity']]

In [5]:
df.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [6]:
df.isnull().sum()

latitude                0
longitude               0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [7]:
df['total_bedrooms']=df['total_bedrooms'].fillna(0)

In [8]:
df.isnull().sum()

latitude              0
longitude             0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [9]:
df.dtypes

latitude              float64
longitude             float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [10]:
df.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [11]:
df['rooms_per_household']=df.apply(lambda x:x['total_rooms']/x['households'],axis=1)

In [37]:
df.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853

In [38]:
df['bedrooms_per_room']=df.apply(lambda x:x['total_bedrooms']/x['total_rooms'],axis=1)

In [39]:
df['population_per_household']=df.apply(lambda x:x['population']/x['households'],axis=1)

In [40]:
df.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0.146591,2.555556
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,0.155797,2.109842
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,0.129516,2.802260
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,0.184458,2.547945
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,0.172096,2.181467

## Q1 solution

In [41]:
df.ocean_proximity.value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [42]:
# Splitting of dataset into the train 60%, validation 20%, and the test 20 % dataset 
n = len(df)

# Validation dataset
n_val = int(n * 0.2)

# Test dataset 
n_test = int(n * 0.2)

# Train dataset
n_train = n - n_val - n_test

In [43]:
n, n_val, n_test, n_train

(20640, 4128, 4128, 12384)

In [44]:
idx = np.arange(n)
np.random.seed(2)
np.random.shuffle(idx)

In [45]:
#get train/val/test dataset
df_train = df.iloc[idx[:n_train]]
df_val = df.iloc[idx[n_train:n_train+n_val]]
df_test = df.iloc[idx[n_train+n_val:]]

In [46]:
len(df_train), len(df_val), len(df_test)

(12384, 4128, 4128)

In [47]:
#reset index
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [49]:
# Transformation of the y values
y_train = np.log1p(df_train.median_house_value.values)
y_val = np.log1p(df_val.median_house_value.values)
y_test = np.log1p(df_test.median_house_value.values)

In [50]:
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [51]:
len(y_train),len(y_val),len(y_test)

(12384, 4128, 4128)

## Q2 solution

In [56]:
df_train.corr()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_household,bedrooms_per_room,population_per_household
latitude,1.000000,-0.924823,0.014015,-0.039883,-0.066567,-0.109230,-0.072738,-0.087704,0.102143,-0.101257,0.001966
longitude,-0.924823,1.000000,-0.105932,0.044295,0.064629,0.096467,0.052311,-0.005979,-0.021702,0.078993,-0.002111
housing_median_age,0.014015,-0.105932,1.000000,-0.364226,-0.318180,-0.292668,-0.301792,-0.121506,-0.156676,0.125650,0.017145
total_rooms,-0.039883,0.044295,-0.364226,1.000000,0.920819,0.853825,0.918342,0.193748,0.130356,-0.167707,-0.023876
total_bedrooms,-0.066567,0.064629,-0.318180,0.920819,1.000000,0.858240,0.967758,-0.010404,-0.005498,0.131824,-0.027330
population,-0.109230,0.096467,-0.292668,0.853825,0.858240,1.000000,0.898546,0.004813,-0.070057,0.031677,0.078655
households,-0.072738,0.052311,-0.301792,0.918342,0.967758,0.898546,1.000000,0.008231,-0.084355,0.071483,-0.026804
median_income,-0.087704,-0.005979,-0.121506,0.193748,-0.010404,0.004813,0.008231,1.000000,0.329874,-0.571738,0.025867
rooms_per_household,0.102143,-0.021702,-0.156676,0.130356,-0.005498,-0.070057,-0.084355,0.329874,1.000000,-0.401859,-0.002609
bedrooms_per_room,-0.101257,0.078993,0.125650,-0.167707,0.131824,0.031677,0.071483,-0.571738,-0.401859,1.000000,0.000794
population_per_household,0.001966,-0.002111,0.017145,-0.023876,-0.027330,0.078655,-0.026804,0.025867,-0.002609,0.000794,1.000000

In [58]:
df.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0.146591,2.555556
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,0.155797,2.109842
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,0.129516,2.802260
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,0.184458,2.547945
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,0.172096,2.181467

In [60]:
mean_mhv=df.median_house_value.mean()

In [62]:
df["average"]=df.median_house_value.apply(lambda x: 1 if x > mean_mhv else 0)

In [63]:
df.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household,average
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0.146591,2.555556,1
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,0.155797,2.109842,1
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,0.129516,2.802260,1
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,0.184458,2.547945,1
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,0.172096,2.181467,1

In [65]:
df["average"].value_counts()

0    12255
1     8385
Name: average, dtype: int64

In [16]:
from sklearn.metrics import mutual_info_score

In [67]:
df.

latitude                    float64
longitude                   float64
housing_median_age          float64
total_rooms                 float64
total_bedrooms              float64
population                  float64
households                  float64
median_income               float64
median_house_value          float64
ocean_proximity              object
rooms_per_household         float64
bedrooms_per_room           float64
population_per_household    float64
average                       int64
dtype: object

In [73]:
df["average"]=df.median_house_value.apply(lambda x: 1 if x > mean_mhv else 0)

In [17]:
def prepare_datax(df, seedval,fillnavalue):
    
    df=df[['latitude',
            'longitude',
            'housing_median_age',
            'total_rooms',
            'total_bedrooms',
            'population',
            'households',
            'median_income',
            'median_house_value',
            'ocean_proximity']]
    # Splitting of dataset into the train 60%, validation 20%, and the test 20 % dataset
    df = df.copy()
    n = len(df)
    n_val = int(n * 0.2)            # Validation dataset
    n_test = int(n * 0.2)           # Test dataset 
    n_train = n - n_val - n_test    # Train dataset
    
    #filling with zero in missing values
    
    #print(df.total_bedrooms.value_counts())
    df["total_bedrooms"] = df["total_bedrooms"].fillna(fillnavalue)
    df['rooms_per_household']=df.apply(lambda x:x['total_rooms']/x['households'],axis=1)
    df['bedrooms_per_room']=df.apply(lambda x:x['total_bedrooms']/x['total_rooms'],axis=1)
    df['population_per_household']=df.apply(lambda x:x['population']/x['households'],axis=1)
    mean_mhv=df.median_house_value.mean()
    df["above_average"]=df.median_house_value.apply(lambda x: 1 if x > mean_mhv else 0)
    
    
    
    #print(df.total_bedrooms.value_counts())
    
    # suffle index
    idx = np.arange(n)
    np.random.seed(seedval)
    np.random.shuffle(idx)
    
    #get train/val/test dataset
    df_train = df.iloc[idx[:n_train]]
    df_val = df.iloc[idx[n_train:n_train+n_val]]
    df_test = df.iloc[idx[n_train+n_val:]]
    
    #reset index
    df_train = df_train.reset_index(drop=True)
    df_val = df_val.reset_index(drop=True)
    df_test = df_test.reset_index(drop=True)
    
    
    # target of the y values
    y_train = df_train.above_average.values
    y_val = df_val.above_average.values
    y_test = df_test.above_average.values
    
    del df_train['median_house_value']
    del df_val['median_house_value']
    del df_test['median_house_value']
    

    
    return df_train,df_val,df_test,y_train,y_val,y_test

In [18]:
seed=42
fillnavalue=0
df_train,df_val,df_test,y_train,y_val,y_test = prepare_datax(df,seed,fillnavalue)

## Q3 solution

In [19]:
categorical = ["ocean_proximity"]
numerical=['latitude', 'longitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income', 'rooms_per_household', 'bedrooms_per_room',
       'population_per_household']

def calculate_mi(series):
    return mutual_info_score(series, df_train.above_average)

df_mi = df_train[categorical].apply(calculate_mi)
df_mi = df_mi.sort_values(ascending=False).to_frame(name='MI')


display(df_mi.head())

                       MI
ocean_proximity  0.100831

In [20]:
    del df_train['above_average']
    del df_val['above_average']
    del df_test['above_average']

In [21]:
df_train.columns

Index(['latitude', 'longitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity', 'rooms_per_household', 'bedrooms_per_room',
       'population_per_household'],
      dtype='object')

In [22]:
#one hot encoding
from sklearn.feature_extraction import DictVectorizer

In [23]:
train_dict = df_train[categorical + numerical].to_dict(orient='records')

In [98]:
train_dict[0]

{'ocean_proximity': 'INLAND',
 'latitude': 36.06,
 'longitude': -119.01,
 'housing_median_age': 25.0,
 'total_rooms': 1505.0,
 'total_bedrooms': 0.0,
 'population': 1392.0,
 'households': 359.0,
 'median_income': 1.6812,
 'rooms_per_household': 4.192200557103064,
 'bedrooms_per_room': 0.0,
 'population_per_household': 3.8774373259052926}

In [25]:
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

DictVectorizer(sparse=False)

In [26]:
X_train = dv.transform(train_dict)

In [27]:
X_train.shape

(12384, 16)

In [28]:
dv.get_feature_names()

/opt/conda/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['bedrooms_per_room',
 'households',
 'housing_median_age',
 'latitude',
 'longitude',
 'median_income',
 'ocean_proximity=<1H OCEAN',
 'ocean_proximity=INLAND',
 'ocean_proximity=ISLAND',
 'ocean_proximity=NEAR BAY',
 'ocean_proximity=NEAR OCEAN',
 'population',
 'population_per_household',
 'rooms_per_household',
 'total_bedrooms',
 'total_rooms']

## Training logistic regression

In [29]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [30]:
val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)
y_pred = model.predict_proba(X_val)[:, 1]
above_average_pred = y_pred > 0.5

## Q4 Solution

In [31]:
(y_val == above_average_pred).mean()

0.8309108527131783

## Q5 solution

# **Feature elimination**

In [65]:
from sklearn.linear_model import LogisticRegression


feature_remove= ["total_rooms","total_bedrooms","population","households"]
without_elemeting_feature_accuracy=0.8309108527131783

for feature in feature_remove:
    print("feature_removed:", feature)

    seed=42
    fillnavalue=0
    df_train,df_val,df_test,y_train,y_val,y_test = prepare_datax(df,seed,fillnavalue)
    
    categorical = ["ocean_proximity"]
    numerical=['latitude', 'longitude', 'housing_median_age',"total_rooms",
           'total_bedrooms', 'population', 'households', 'median_income', 'rooms_per_household', 'bedrooms_per_room',
           'population_per_household']



    del df_train['above_average']
    del df_val['above_average']
    del df_test['above_average']
    #print(numerical)
    numerical.remove(feature)
    
    #print(numerical)

    train_dict = df_train[categorical + numerical].to_dict(orient='records')

    dv = DictVectorizer(sparse=False)
    dv.fit(train_dict)

    X_train = dv.transform(train_dict)

    #print("X_train.shape",X_train.shape)

    dv.get_feature_names_out()

    #train model

    model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)

    val_dict = df_val[categorical + numerical].to_dict(orient='records')
    X_val = dv.transform(val_dict)
    y_pred = model.predict_proba(X_val)[:, 1]
    above_average_pred = y_pred > 0.5
    
    accuracy=(y_val == above_average_pred).mean()
    print("new accuracy:", accuracy)
    print("old accuracy:",without_elemeting_feature_accuracy)
    print("difference:",without_elemeting_feature_accuracy-accuracy,"\n")

feature_removed: total_rooms
new accuracy: 0.8306686046511628
old accuracy: 0.8309108527131783
difference: 0.00024224806201555982

feature_removed: total_bedrooms
new accuracy: 0.8316375968992248
old accuracy: 0.8309108527131783
difference: -0.0007267441860464574

feature_removed: population
new accuracy: 0.8299418604651163
old accuracy: 0.8309108527131783
difference: 0.0009689922480620172

feature_removed: households
new accuracy: 0.8321220930232558
old accuracy: 0.8309108527131783
difference: -0.001211240310077466

eliminating total_rooms

## training  Ridge regression model

In [76]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn.feature_extraction import DictVectorizer

def data_Ridge(df, seedval,fillnavalue):
    
    df=df[['latitude',
            'longitude',
            'housing_median_age',
            'total_rooms',
            'total_bedrooms',
            'population',
            'households',
            'median_income',
            'median_house_value',
            'ocean_proximity']]
    # Splitting of dataset into the train 60%, validation 20%, and the test 20 % dataset
    df = df.copy()
    n = len(df)
    n_val = int(n * 0.2)            # Validation dataset
    n_test = int(n * 0.2)           # Test dataset 
    n_train = n - n_val - n_test    # Train dataset
    
    #filling with zero in missing values
    
    #print(df.total_bedrooms.value_counts())
    df["total_bedrooms"] = df["total_bedrooms"].fillna(fillnavalue)
    df['rooms_per_household']=df.apply(lambda x:x['total_rooms']/x['households'],axis=1)
    df['bedrooms_per_room']=df.apply(lambda x:x['total_bedrooms']/x['total_rooms'],axis=1)
    df['population_per_household']=df.apply(lambda x:x['population']/x['households'],axis=1)
    mean_mhv=df.median_house_value.mean()

    
    # suffle index
    idx = np.arange(n)
    np.random.seed(seedval)
    np.random.shuffle(idx)
    
    #get train/val/test dataset
    df_train = df.iloc[idx[:n_train]]
    df_val = df.iloc[idx[n_train:n_train+n_val]]
    df_test = df.iloc[idx[n_train+n_val:]]
    
    #reset index
    df_train = df_train.reset_index(drop=True)
    df_val = df_val.reset_index(drop=True)
    df_test = df_test.reset_index(drop=True)
    
    # Transformation of the y values
    y_train = np.log1p(df_train.median_house_value.values)
    y_val = np.log1p(df_val.median_house_value.values)
    y_test = np.log1p(df_test.median_house_value.values)
    
    
    
    del df_train['median_house_value']
    del df_val['median_house_value']
    del df_test['median_house_value']
    
    #train dictvectorizor
    categorical = ["ocean_proximity"]
    numerical=['latitude', 'longitude', 'housing_median_age',"total_rooms",
           'total_bedrooms', 'population', 'households', 'median_income', 'rooms_per_household', 'bedrooms_per_room',
           'population_per_household']
    
    train_dict = df_train[categorical + numerical].to_dict(orient='records')
    dv = DictVectorizer(sparse=False)
    dv.fit(train_dict)
    X_train = dv.transform(train_dict)
    
    
    val_dict = df_val[categorical + numerical].to_dict(orient='records')
    X_val = dv.transform(val_dict)
    
    
    
    return X_train,X_val,y_train,y_val



def run_main(df, seed,fillnavalue,a):
    X_train,X_val,y_train,y_val= data_Ridge(df,seed,fillnavalue)
    model = Ridge(alpha=a, solver="sag", random_state=42)
    model.fit(X_train,y_train)
    
    pred = model.predict(X_val)
    mean = mean_squared_error(y_val, pred) 
    rmse_val = np.sqrt(mean_squared_error(y_val,pred))

    return rmse_val

## Q6 solution

In [77]:
#fill na with zero
seed=42
print("seed used:",seed)
fillvalue=0
print("missing value fill with :",fillvalue)

for a in [0, 0.01, 0.1, 1, 10]:
    print("alpha:",a)
    RMSE=run_main(df,seed,fillvalue,a)
    print("RMSE:",RMSE)
    print("Round of RMSE:",round(RMSE, 3),"\n")

seed used: 42
missing value fill with : 0
alpha: 0
RMSE: 0.5285691953925384
Round of RMSE: 0.529

alpha: 0.01
RMSE: 0.5285691954185114
Round of RMSE: 0.529

alpha: 0.1
RMSE: 0.528569195671761
Round of RMSE: 0.529

alpha: 1
RMSE: 0.5285691981652885
Round of RMSE: 0.529

alpha: 10
RMSE: 0.5285692231070122
Round of RMSE: 0.529